:root {
    /* colors */
    --primary-color: #005190;

    /* sizes */
    --standard-width: 1080px;
}


/* utility classes */

.green-text {
    color: green;
}

.red-text {
    color: red;
}

.greyed-out {
    opacity: 0.5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

h1 {
    color: var(--primary-color);
    max-width: var(--standard-width);
    text-align: center;
    margin: 2rem auto;
}

h2 {
    max-width: var(--standard-width);
    text-align: center;
    font-size: 1.25rem;
    margin: 1rem auto;
}

.description {
    max-width: var(--standard-width);
    /* text-align: center; */
    margin: 0 auto;
}

.description ul {
    width: 80%;
    margin: 0 auto;
}

/* Mode selection box */
.mode-selection {
    max-width: 600px;
    margin: 2rem auto;
    border: 2px solid var(--primary-color);
    border-radius: 15px;
    padding: 0.75rem 1rem;
    background-color: #f7f6f6;
}

.mode-selection h3 {
    font-size: 1rem;
    color: var(--primary-color);
    text-align: center;
}

.mode-selection .selection-section {
    margin: 1rem 0;
}

.mode-selection .selection-section .selector-div {
    min-height: 35px;
    margin: 0.75rem auto;
    max-width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.mode-selection .selection-section .selector-div .number-input {
    width: 100px;
    height: 40px;
    text-align: center;
    border-radius: 5px;
}

.mode-selection .selection-section .button-section {
    margin: 1rem auto;
}

.mode-selection .selection-section .button-section .mode-button {
    width: 100px;
    height: 40px;
    border: 2px solid black;
    border-radius: 5px;
    color: #fff;
    background-color: none;
}

.mode-selection .selection-section .button-section #reset-button {
    background-color: red;
}

.mode-selection .selection-section .button-section #calculate-button {
    background-color: rgb(33, 191, 33);
}

/* columns section */

.columns-section {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 auto;
}

.columns-section .column-card {
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    width: 300px;
    /* padding: 0.5rem 0.75rem; */
    margin: 1rem 0.5rem;
    /* min-height: 600px; */
}

.columns-section .column-card:hover {
    cursor: pointer;
}

.columns-section .column-card .column-header {
    background-color: var(--primary-color);
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    min-height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.columns-section .column-card .column-title {
    font-weight: 700;
    color: #fff;
    text-align: center;


}

.columns-section .column-card .img-div {
    height: 250px;
}

.columns-section .column-card .img-div .column-img {
    margin: 0 auto;
    padding: 0 10%;
    max-width: 100%;
    /* text-align: center; */
    display: block;
    max-height: 100%;
}

.columns-section .column-card .column-stats {
    padding: 0.75rem;
}

.columns-section .column-card .column-stats .stats-p {
    position: relative;
}

.columns-section .column-card .column-stats .stats-p span {
    position: absolute;
    right: 1px;
}

/* single column selector */
.columns-section .column-card .single-column-selection {
    display: none;
}



/* Media queries */


@media only screen and (max-width: 550px) {

    /* Calc section */
    .mode-selection .selection-section .volume-selection-section.selector-div,
    .mode-selection .selection-section .bedh-selection-section.selector-div {
        flex-direction: column;
    }

    .mode-selection .selection-section .volume-selection-section.selector-div input[type="number"],
    .mode-selection .selection-section .bedh-selection-section.selector-div input[type="number"] {
        margin: 0.5rem 0;
    }
}